<div class="board-wrapper">
    <%= content_tag :div, id: 'position_data', data: { id: position.id, position: position.board } do %>
    <% end %>
    <%= render "positions/board" %>
    <%= javascript_include_tag 'populate_board' %>
    <%= javascript_include_tag 'board_inputs' %>
    <script>populateBoard();</script>
    <script>boardInputs();</script>
</div>
