:root{
    --bg-color: rgb(46, 43, 43);
    --light-color: #f4dcb4;
    --dark-color: #bc8464;
    --select-color: #646f40;
    --success-light-color: #cdd26a;
    --success-dark-color: #aaa23a;
    --invalid-color: #ff6060;
}