:root{
    --bg-color: rgb(46, 43, 43);
    --light-color: #f4dcb4;
    --dark-color: #bc8464;
    --select-color: #646f40;
    --success-light-color: #cdd26a;
    --success-dark-color: #aaa23a;
    --hover-light-color: #74a068;
    --hover-dark-color: #827e4d;
    --invalid-color: #ff6060;
    --inactive-light-color: #f5e4c7;
    --inactive-dark-color: #b9927c;
    --inactive-success-light-color: #d0d482;
    --inactive-success-dark-color: #a8a24d;
}